.UsersListDiv {
    
    width: 50vw;

}

.UsersListUl {
    border-style: solid;
    border-color: rgba(137, 43, 226, 0);
    border-radius: 12px;
    border-width: 4px;
    width: 40vw;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.UserLi {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.486);
    border-radius: 12px;
    border-width: 4px;

    margin-top: 1em;
}

.UserInfoContainer {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border-width: 3px;

    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.UserInfo {
    border-style: solid;
    border-color: rgba(0, 0, 255, 0);
    border-radius: 12px;

    font-size: 1.4em;
    text-align: left;

    margin: 6px;
}

.UserLink {
    text-decoration: none;
    font-weight: bold;
}


.UserPhoto {
    border-style: solid;
    border-color: rgba(0, 128, 0, 0);
    border-radius: 12px;
}