.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;

    margin: 0 auto;

    max-height: 10vh;
}

.NavBarUl {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
}