.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;


    max-height: 10vh;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    
}

.NavBarUl {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
}