.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background: rgb(73, 79, 82);
    color: white;
}

.NavBarUl {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}